.carta {
  height: 22vmin;
  width: 12.4vmin;
  margin: 4px 6px;
  background-image: url("./Geometric+pattern+squares+003.jpg");
  background-size: cover;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #a0a0a0;
  transition: 150ms;
}
.front {
  height: 22vmin;
  width: 12.4vmin;
  margin: 4px 6px;
  border: 2px solid #1c1c1c;
  border-radius: 5px;
  box-shadow: 3px 3px 7px #a0a0a0;
  font-size: xx-large;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: 100ms;
}
.deco {
  height: 37%;
  width: 75%;
  border-radius: 100%;
  background-color: #f3d222;
}
.carta:hover {
  scale: 1.05;
}
.front:hover {
  scale: 1.05;
}
